@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0;
    margin: 0;
     text-decoration: none;
    box-sizing: border-box;
}

.index{
    background-image: linear-gradient(rgba(0, 183, 255, 0.315), rgba(255, 255, 255, 0.009) ), url(logo2.jfif);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    padding: 4%;
    border-radius: 14%;
}

header{
    position:fixed ;
    top: 0;
    left: 0;
    right: 0;
      z-index: 9999;
}
.head h3{
    margin-right:50px ;
    font-size: 25px;
}
.head ul li{
    display: inline-block;
    padding: 8px;
    margin: 0 25px;
    position: relative;

}
.head a:hover{
    color: aqua;
    transition: 2s;
}
.head a{
    color: white;
    text-decoration: none;
}
.head{
    background-image: linear-gradient(rgba(0, 183, 255, 0.315), rgba(255, 255, 255, 0) ), url(logo4.PNG);
      background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.263);
    color: white;
}
.hire{
    color: white;
    border-radius: 8%;
    padding: 10px;
    background-color: #0720fb;
    border:none;
}

@media (max-width: 768px){
    .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head ul{
     display: flex;
    align-items: center;
    gap: 2px;
    margin-left:20%;
    padding: 0;
}
 
  .head h3 {
    margin-right: 10px;
    font-size: 18px;
  }
.head a{
    font-size: 12px;
}
.cod{

    padding: 30% 10%;
    text-align: center;
}
.about-image{
    display: block;
}
}

@media (max-width: 1024px){
    .head{
    display: flex;
    justify-content: space-between;
}
.head ul li{
    padding: 5px 6px ;
    margin: 0 ;
    position: relative;
}
.head ul{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 0%;
}
.cod{
    display: flex;
    width: 100%;
    margin-top: 1% ;
}
.head h3 {
    margin:0 10px;
    font-size: 18px;
  }
span{
    color: blue;
}
.hero{
    margin-top: 35%;
}

}


@media (max-width: 1355px){
   .head h3 {
    margin-right: 120px;
    font-size: 18px;
    text-align: left;
  } 
  .head{
       padding-bottom: 1%;
  }
}
.cod{
    margin-top:5%  ;
    
}
.hero{
    padding-top: 8%;
}
 
.hero h1{
    padding: 1% ;
    font-size: 4vw;
    color: white;
}
.cod{
    padding: 8%;
    text-align: center;
}
.hero p{
    padding:0 12%;
    font-size: 1.5vw;
    color: white;
}
.hero button{
   margin:3% 1%;
   padding: 2% 2%;
   font-size: 1.2vw;
  
}
.two{
    background-color: rgba(240, 248, 255, 0.014);
    border: 1.5px solid rgba(42, 163, 203, 0.687);
    border-radius: 7%;
 font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color:lightblue;
    font-size: 1.2vw;
    }
.one{
      background-color: rgb(7, 32, 251);
    border: none;
      font-size: 1.2vw;
    border-radius: 7%;
     font-family: "Open Sans", sans-serif;
    font-weight: 600;
  
    }
    .one:hover{
        cursor: pointer;
            transition: 2s;
            background-color: lightblue;
    }

     .hire:hover{
        cursor: pointer;
            transition: 2s;
            background-color: rgba(173, 216, 230, 0.1);
    }
     .two:hover{
        cursor: pointer;
            transition: 2s;
            background-color: lightblue;
    }
    .one:hover a{
       color: #0720fb;
    }

    .two:hover a{
       color: #0720fb;
    }
    button a{
         color: lightblue;
    }
    .about{
        background-color: #cce5f8;
        padding:5% ;

    }
    hr{
        
        padding:0 30%;
        left: 30px;
        right: 30px;
        background-color: gray;

    }
    .box {
        position: relative;
    }

    #about {
  scroll-margin-top: 80px;
}

html {
  scroll-behavior: smooth;
}
.about-image {
    display: flex;
    justify-content: space-between;
    
}
.box img{
    
    width: 100%;
    overflow: hidden;
    border-radius: 8%;
    padding: 5%;
}
.btn{
    position: absolute;
    bottom: 12%;
    line-height: 1.8;
    left: 30px;
    background-color:rgb(204, 229, 248) ;
    border-radius: 8px;
    padding: 12px 8px;
   
}
span{
    color: #0720fb;
}
.about-text{
    margin: 3%;
}
.blue{
    color: #0720fb;
    padding: 3% 0;
    font-style: italic;
}
.about-text h1{
    font-size: 4vw;
     font-family: "Playfair Display", serif;
     padding:0 0% 0 10%;
}
.about-text p{
    padding: 2% 20% 2% 10%;
    color: gray;
    line-height: 1.8;
    font-size: 16px;
}
b{
    color: rgb(57, 56, 56);
}
.skills{
     background-color: #cce5f8;
        padding:2% ;
        text-align: center;
}
.skills p{
      border-radius: 100%;
    background-color: #0720fb;
    margin: 2%;
    color: white;
    font-size: 22px;
}

.p{
        display: flex;
        justify-content: center;
}

.ht{
    padding: 3% 2%;
}
.cs{
    padding: 3%;
}


/*portfolio*/
.port{
    display: flex;
    flex-wrap: wrap;
      background-color: #063b63;
}
.port-1{
   margin: 10px;
   background-image: linear-gradient(rgba(0, 183, 255, 0.315), rgba(3, 3, 3, 0.418) ), url("back.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 5%;
   background-repeat: no-repeat;
   width: 350px;
}
.port-body img{
    width: 100% ;
    height: 200px;
    object-fit: contain;
    object-position: center;
    margin-right: 1%;
    
     
}
.port-head{
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    padding: 2%;
}

.port-head{
    font-size: 20px;
}
.port-body h2{
    margin-bottom: 2%;
    padding: 2% 7%;
}
.port-body{
    color: rgb(224, 231, 237);
}
.port-body h4{
    margin-bottom: 3%;
    padding: 2% 7%;
}
/* contact section */
.contact{
    padding-top: 1%;
    display: flex;
    flex-wrap: wrap;
    background-color: #cce5f8;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.contact-text{
    text-align: center;
}
.contact-text h1{
    margin-bottom: 4%;
}
.contact-info{
    padding: 8%;
}
.contact-info p{
    padding: 5%;
}
.contact-info h3{
    padding: 3%;
}
.contact-text p{
    padding: 0% 15%;
    line-height: 1.4;
}
.contact-box{
    display: block;
    width: 40%;
    margin-top: 7%;
    padding: 8%;
      background-image: linear-gradient(rgba(0, 183, 255, 0.315), rgba(3, 3, 3, 0.418) ), url("back.jpg");
   background-size: cover;
   background-position: center;
   border-radius: 2%;
   background-repeat: no-repeat;
    box-shadow: 0 0 20px  rgba(46, 45, 45, 0.514);
    margin-bottom: 5%;
}
.contact-box h1{
    color: aliceblue;
    margin-bottom: 2%;
    text-align: center;
}
.contact-box input,
.contact-box textarea{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #645f7d;
    color: aliceblue;
    font-size: 1rem;
    padding: 3% 0;
    margin-bottom: 5%;
    outline:none;
}
.contact-box textarea{
    resize: none;
}
.contact-box button{
    display: block;
    margin: 4% auto 0;
    padding: 5% 10%;
    background-color:#063b63;
    border: none;
    border-radius: 4%;
    color: aliceblue;
     box-shadow: 20px 20px 20px  rgba(4, 4, 4, 0.861);
}
@media (max-width: 600px){
    .contact-box input,
    .contact-box textarea{
      font-size: 9px;
    }
    .contact h1 {
        font-size: 22px;
    }
    
.contact-box button{
    font-size: 9px;
    padding: 5% 2%;
}
}
footer{
    background-color: #063b63;
    padding: 2% ;
    text-align: center;
    color: aliceblue;
    font-size:0.5vw;
}